@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}
button {
    font-family: 'Roboto Mono', sans-serif;
}
h1{
    font-family: 'Roboto Mono', monospace;
}
